@model WebMVC.Models.User

<h3>Sign up</h3>
<form asp-action="create" asp-controller="account">
    <p>
        <label>Login:</label><br />
        <input type="text" name="name" required/>
    </p>
    <p>
        <label>Password:</label><br />
        <input type="text" name="email" required/>
    </p>
    <p>
        <input type="submit" value="Create" />
    </p>
</form>

