<h3>Welcome to Cargo transportation!</h3>

<form asp-action="signin" asp-controller="account">
    <p>
        <label>Login:</label><br />
        <input type="text" name="name" required/>
    </p>
    <p>
        <label>Password:</label><br />
        <input type="text" name="email" required/>
    </p>
    <p>
        <input type="submit" value="send"/>
    </p>
</form>

<p>
    <a asp-action="Create">Sign Up</a>
</p>
