<h3>Cargo Transportation - Items catalog</h3>

<table>
    <tr>
        <td><label>Name:</label></td>
        <td><input type="text" id="name" /></td>
    </tr>
    <tr>
        <td><label>Description:</label></td>
        <td><input type="text" id="description" /></td>
    </tr>
    <tr>
        <td><input type='button' id="addItem" value='Add' /></td>
        <td><text id="addedItem"></text></td>
    </tr>
</table>

<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#addItem').click(function (e) {
            e.preventDefault();
            var name = "Name: " + $('#name').val() + "\n";
            var description = "Description: " + $('#description').val() + "\n";

            var item = document.getElementById("addedItem");

            console.log(item);
            item = item + name + description;

            document.getElementById("addedItem").innerHTML = item;
        });
    });
</script>
