<h3>Cargo Transportation</h3>

<form method="post">
    <p>
        <label>Name:</label><br />
        <input type="text" name="name" />
    </p>
    <p>
        <label>Email:</label><br />
        <input type="text" name="email" />
    </p>
    <p>
        <label>Item name:</label><br />
        <input type="text" name="name" />
    </p>
    <p>
        <label>Description:</label><br />
        <textarea name="comment"></textarea>
    </p>
    <p>
        <label>Length:</label><br />
        <input type="number" name="length" />
    </p>
    <p>
        <label>Width:</label><br />
        <input type="number" name="width" />
    </p>
    <p>
        <label>Height:</label><br />
        <input type="number" name="height" />
    </p>
    <p>
        <label>Price:</label><br />
        <input type="number" name="price" />
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>
